
# Byte-compiled / optimized / DLL files
__pycache__/

#Distribution / packaging
*.egg
*.egg-info/
build/

# Weights and Biases logging 
notebooks/wandb/

# Non-important data 
data/FashionMNIST
data/dms_data

# generated version file
evoVAE/_version.py

# editors /filesystem
.vscode/
.DS_Store
.ipynb_checkpoints