
# Byte-compiled / optimized / DLL files
__pycache__/

#Distribution / packaging
*.egg
*.egg-info/
build/

# Weights and Biases logging 
notebooks/wandb/
scripts/wandb
scripts/ancestor_random_sampling/gb1/training/wandb/

# Non-important data 
scripts/configs/

# generated version file
evoVAE/_version.py

# editors /filesystem
.vscode/
.DS_Store
.ipynb_checkpoints

# ignore ipynb files
notebooks/*.ipynb
